<Project Sdk="Microsoft.NET.Sdk.Web">
  <PropertyGroup>
    <TargetFramework>net{{DOTNET_MAJOR}}.0</TargetFramework>
    <ImplicitUsings>enable</ImplicitUsings>
  </PropertyGroup>
  <ItemGroup>
    <PackageReference Include="Npgsql" Version="{{DOTNET_MAJOR}}.0.*" />
    <PackageReference Include="Dapper" Version="2.*" />
    <PackageReference Include="Microsoft.AspNetCore.Authentication.JwtBearer" Version="{{DOTNET_MAJOR}}.0.*" />
  </ItemGroup>
</Project>
